.jumbotron {
background-image: url("../img/2cakelavendar.jpg");
/*".." is necessary to go back up to another folder as you are too low in css for it to recognise photo in img*/
background-size: cover;
height: 100%;
}
.rowaboutbake{
	background-color: beige;
	height: 300px;
	width: 100%;
	top: 50%;
	padding: 126px;
}
p{
	top: 50%;
	left: 50%;
}
.bakerow{
	height:300px;
	padding-top:100px;
}